node_modules
!reports/ui/snapshots/**
cypress/snapshots/**/__diff_output__
.idea/
.vscode/
*.env*
!.env.customernamesample
.config/
.npm/
.bash_history

results/

cypress/screenshots/

cypress/videos/

cypress/snapshots/diff/
